.bs-icon {
  --bs-icon-size: 0.75rem;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: var(--bs-icon-size);
  width: calc(var(--bs-icon-size) * 2);
  height: calc(var(--bs-icon-size) * 2);
  color: var(--bs-primary);
}

.bs-icon-sm {
  --bs-icon-size: 1rem;
}

.bs-icon-md {
  --bs-icon-size: 1.5rem;
}

.bs-icon.bs-icon-primary {
  color: var(--bs-white);
  background: var(--bs-primary);
}

.bs-icon.bs-icon-rounded {
  border-radius: 0.5rem;
}

#header,
.hero__container-background {
  height: 600px;
  background-image: url(../../assets/img/bannerimage.png);
  background-position: center;
  background-size: cover;
}

.bannerSection {
  background: #f3f3f3;
  padding-right: 16px;
  padding-left: 16px;
}

.banner__cards-section {
  width: 1320px;
  margin-top: 49px;
}

.banner__section-little__image {
  max-width: 158px;
  width: 158px;
}

.banner__image {
  box-shadow: 4px 4px 10px 0 #21252929;
  border-radius: 30px;
  background: #fff;
  height: 436px;
}

.banner__image img {
  max-height: 444px;
  height: 436px;
}

.banner__card {
  display: grid;
  justify-items: center;
  height: 436px;
  padding: 2rem;
  border-radius: 12px;
  background: #fff;
  box-shadow: 4px 4px 10px 0 #21252929;
}

.banner__card img {
  height: 198px;
}

.banner__card h2,
.banner__card h4 {
  font-weight: 700;
}

.banner__card h4 {
  font-size: 1.1rem;
}

#audioSection,
#smartLife {
  background: #f3f3f3;
}

#footer {
  background: #fff;
}

.github__link {
  color: #000;
  font-size: 35px;
}
